body {
  padding: 2em;
  /*背景を全部紺色にしたい*/
  background-color: #0b1f22;
}

.button-normal {
  border: 1px solid #555;
  background-color: #eee;
  border-radius: 4px;
  padding: 4px;
}

/* 以下ログインページ追加分 */

  /*ユーザー名入力欄*/
.namearea{
  display: block;
  width: 200px;
  border: 1px solid #555;
  border-radius: 4px;
  background:  #ffffff;
  font-size: 14px;
  white-space: pre-wrap;

    /* ＆以降フォーカス時のCSS　*/
  
  &:focus {
    outline: none;
    border:double 2px #61ff83;
    box-shadow: 0 0 0 2px rgb(0, 255, 247);
  }
  }

    /* ここまで　*/

.loginbtn{
  margin-top: 2px;
  color: #fff;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
}
.loginbtn:hover {
    margin-top: 3px;
    color: #fff;
    background: #f56500;
    border-bottom: 2px solid #b84c00;
}
.loginbtn--shadow {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.header{
  border: double 5px #0b1f22;
  position: fixed;
  top: 0;
  color: rgb(12, 11, 11);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  background-color: #efece7;
  }


/* 以下チャットページ */

.chatitem{
  display: block;
  border: 1.5px solid rgba(89, 88, 88, 0.5);
  margin-top: 2px;
  /*width: fit-content;*/
  border-radius: 10px;
  background:#76f592 
}
